<ion-view view-title="Points">
  <ion-content>
    <div class="list padding">
		<i class="ion-information-circled royal" style="font-size:1.5em" /></i>
				Enter the Points that will be credited / added to the users card.<br />
				e.g. If you enter Rupees = 100 and Points = 1. When a customer does a purchase or 100 rupees, 1 point will be credited in his/her card.  
		<label class="item item-input item-stacked-label">
				Rupees
				<input type="number" placeholder="Enter Rupees e.g. 100"> 
		</label>
		<label class="item item-input item-stacked-label">
				Points
				<input type="number" placeholder="Enter Points e.g. 1">
		</label>
		<hr />
		<i class="ion-information-circled royal" style="font-size:1.5em" /></i>
				Enter the Points that will be debited / deducted from the users card.<br />
				e.g. If you enter Points = 1 and Rupees = 1. When a customer redeems his/her points, 1 point will be considered as 1 rupee.
		<label class="item item-input item-stacked-label">
			Points
				<input type="number" placeholder="Enter Points e.g. 1">
		</label>
		<label class="item item-input item-stacked-label">
			Rupees
				<input type="number" placeholder="Enter Rupees e.g. 1">
		</label>
		<div class="padding">
			<Button class="button button-assertive button-block">Save</Button>
		</div>
	</div>
  </ion-content>
</ion-view>